:root {
  --theme-color: white;
  --dark-theme-color: #0e4166;
  --text-color: #0e4166;
  --text-color-inverse: white;
  --primary-color: #3b7197;
  --secondary-color: #4a8db7;
  --third-color: #74dbe0;
  --fourth-color: #a1e1fa;
  /* Mobile */
  --menu-mobile-background-color: #126599;
  --menu-width: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  --nav-height: 96px;
  scroll-padding-top: var(--nav-height);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: var(--nav-height);
  overflow-x: hidden;
  width: 100%;
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-theme-color);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
  z-index: 999;
}

#spinner iframe {
  scale: 0.3;
  mix-blend-mode: screen;
}

main {
  position: relative;
  overflow: hidden;
}

@keyframes float-up {
  from {
    transform: translateY(0%);
  }
}
@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: 0;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in-out infinite;
}
.bubble::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(183, 94%, 76%, 0.3);
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}
.bubble:nth-child(0) {
  --bubble-left-offset: 27vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 26s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(1) {
  --bubble-left-offset: 60vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 18s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 7s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(2) {
  --bubble-left-offset: 72vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 16s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(3) {
  --bubble-left-offset: 24vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 28s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(4) {
  --bubble-left-offset: 49vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 16s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(5) {
  --bubble-left-offset: 33vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(6) {
  --bubble-left-offset: 72vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(7) {
  --bubble-left-offset: 82vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 13s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(8) {
  --bubble-left-offset: 9vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 15s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(9) {
  --bubble-left-offset: 64vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 18s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(10) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 7s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(11) {
  --bubble-left-offset: 0vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 24s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(12) {
  --bubble-left-offset: 16vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 23s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 8s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(13) {
  --bubble-left-offset: 63vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(14) {
  --bubble-left-offset: 28vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(15) {
  --bubble-left-offset: 100vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 18s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(16) {
  --bubble-left-offset: 64vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 13s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(17) {
  --bubble-left-offset: 3vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 5s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(18) {
  --bubble-left-offset: 18vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 5s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(19) {
  --bubble-left-offset: 68vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 21s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(20) {
  --bubble-left-offset: 66vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 22s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(21) {
  --bubble-left-offset: 100vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(22) {
  --bubble-left-offset: 77vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(23) {
  --bubble-left-offset: 84vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 29s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 8s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(24) {
  --bubble-left-offset: 12vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 21s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(25) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(26) {
  --bubble-left-offset: 78vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 22s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(27) {
  --bubble-left-offset: 52vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 23s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(28) {
  --bubble-left-offset: 55vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 27s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(29) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 24s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(30) {
  --bubble-left-offset: 44vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 30s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(31) {
  --bubble-left-offset: 31vw;
  --bubble-radius: 7vw;
  --bubble-float-duration: 24s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(32) {
  --bubble-left-offset: 50vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 22s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(33) {
  --bubble-left-offset: 62vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 8s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(34) {
  --bubble-left-offset: 86vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 28s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(35) {
  --bubble-left-offset: 84vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 14s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 5s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(36) {
  --bubble-left-offset: 26vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 26s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(37) {
  --bubble-left-offset: 96vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(38) {
  --bubble-left-offset: 51vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 30s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(39) {
  --bubble-left-offset: 28vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 30s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(40) {
  --bubble-left-offset: 70vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(41) {
  --bubble-left-offset: 95vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 13s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 7s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(42) {
  --bubble-left-offset: 25vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 13s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(43) {
  --bubble-left-offset: 26vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 25s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 8s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(44) {
  --bubble-left-offset: 6vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(45) {
  --bubble-left-offset: 94vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 16s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(46) {
  --bubble-left-offset: 16vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 16s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 6s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(47) {
  --bubble-left-offset: 80vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 17s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(48) {
  --bubble-left-offset: 59vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(49) {
  --bubble-left-offset: 17vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 25s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(50) {
  --bubble-left-offset: 52vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 20s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 5s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-left-to-right;
}

/* Dark mode theme */
.dark-mode-theme {
  background-color: var(--dark-theme-color) !important;
  color: var(--text-color-inverse) !important;
}

/* GOOGLE TRANSLATE */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-simple img {
  display: none !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}/*# sourceMappingURL=main.css.map */