:root {
  --theme-color: white;
  --dark-theme-color: #0e4166;
  --text-color: #0e4166;
  --text-color-inverse: white;

  --primary-color: #3b7197;
  --secondary-color: #4a8db7;
  --third-color: #74dbe0;
  --fourth-color: #a1e1fa;

  /* Mobile */
  --menu-mobile-background-color: #126599;
  --menu-width: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  --nav-height: 96px;
  scroll-padding-top: var(--nav-height);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: var(--nav-height);
  overflow-x: hidden;
  width: 100%;
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-theme-color);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
  z-index: 10;
}

#spinner iframe {
  scale: 0.3;
  mix-blend-mode: screen;
}

main {
  position: relative;
  overflow: hidden;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

@keyframes float-up {
  from {
    transform: translateY(100%);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: 0;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in-out infinite;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(10s, 30s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 8s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

/* Dark mode theme */
.dark-mode-theme {
  background-color: var(--dark-theme-color) !important;
  color: var(--text-color-inverse) !important;
}

/* GOOGLE TRANSLATE */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-simple img {
  display: none !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
