@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");

#skills {
  margin: 0 auto;
  max-width: 992px;
  height: calc(100vh - var(--nav-height));
  display: grid;
  place-content: center;
}

.skills-list {
  --s: 160px; /* control the size */
  --g: 0;
  display: grid;
}

.addGap {
  --g: 25px; /* control the gap */
}

.skills-list div {
  grid-area: 1/1;
  margin: 0;
  width: var(--s);
  aspect-ratio: 0.866;
  display: grid;
  place-items: center;
  place-content: center;
}

[data-skill] {
  color: var(--text-color);
  background: radial-gradient(
    var(--fourth-color),
    var(--third-color),
    var(--secondary-color),
    var(--primary-color)
  );
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
  transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
}

.skills-title {
  margin: 0;
  font-size: 3rem;
  font-family: "Konkhmer Sleokchher", cursive;
  z-index: 1;
}

[data-skill] i {
  font-size: 4.5rem;
  margin: 0;
}

[data-skill]:hover {
  z-index: 1;
  filter: brightness(115%);
  --_t: 1.1;
}

[data-skill]:hover i {
  transform: translateY(-15%);
  transition: 0.2s linear;
}

[data-skill]:hover::after {
  content: attr(data-skill);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
  font-weight: 600;
}

.skills-list > div:nth-child(1) {
  --_x: calc(-100% - var(--g));
}
.skills-list > div:nth-child(7) {
  --_x: calc(100% + var(--g));
}
.skills-list > div:nth-child(3),
.skills-list > div:nth-child(5) {
  --_y: calc(-75% - 0.87 * var(--g));
}
.skills-list > div:nth-child(4),
.skills-list > div:nth-child(6) {
  --_y: calc(75% + 0.87 * var(--g));
}
.skills-list > div:nth-child(3),
.skills-list > div:nth-child(4) {
  --_x: calc(-50% - 0.5 * var(--g));
}
.skills-list > div:nth-child(5),
.skills-list > div:nth-child(6) {
  --_x: calc(50% + 0.5 * var(--g));
}

@media (max-width: 768px) {
  .skills-list {
    --s: 150px; /* control the size */
  }
  .skills-title {
    font-size: 2.5rem;
  }

  [data-skill] i {
    font-size: 3.5rem;
  }
}

@media (max-width: 576px) {
  #skills {
    height: 420px;
  }

  .skills-list {
    --s: 100px; /* control the size */
  }
  .addGap {
    --g: 20px; /* control the gap */
  }

  .skills-title {
    font-size: 2rem;
  }

  [data-skill] i {
    font-size: 3rem;
  }

  [data-skill]:hover i {
    visibility: hidden;
    transition: 0s;
  }

  [data-skill]:hover::after {
    font-size: 1.2rem;
    height: 100%;
    align-items: center;
    background-color: transparent;
  }
}
